.alert {
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0.7rem 0;
    padding: 1.6rem;
    width: 40rem;
}
.alert-primary {
    background-color: var(--primary-color);
    color: var(--primary-color2);
}
.alert-info {
    background-color: var(--info-bg-color) ;
    color: var(--info-color);
}
.alert-success {
    background-color: var(--success-bg-color);
    color: var(--success-color);
}
.alert-warning {
    background-color:var(--warning-bg-color);
    color: var(--warning-color);
}
.alert-error {
    background-color: var(--error-bg-color);
    color: var(--error-color);
}
.alert-close-icon {
    font-weight: 600;
    margin-left: auto;
    cursor: pointer;
}
