.badge-container {
  position: relative;
  display: inline-block;
}
.badge-icon {
  font-size: 2.4rem;
  color: var(--black-color);
}
.badge-text {
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: default;
  padding: 0.4rem;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  top: 1rem;
  left: 0;
}
.badge {
  background-color: var(--primary-color2);
  border: none;
  border-radius: 50%;
  color: var(--white-color);
  cursor: default;
  position: absolute;
  text-align: center;
}
.badge-img {
    border:medium solid var(--white-color);
}
/* badge alingment */
.badge-right {
    top: -0.7rem;
    right: -0.7rem;
}
.badge-left {
    top: -0.7rem;
    left: -0.7rem;
}
.badge-bottom-left {
    bottom: -0.3rem;
    right: -0.3rem;
}
  
/* badge-sizes */
.badge-lg {
  width: 2.6rem;
  height: 2.6rem;
  font-size: 1.6rem;
}
.badge-md {
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
}
.badge-sm {
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 1rem;
}
