.badge-container {
  position: relative;
  display: inline-block;
  /* margin: 1.6rem; */
}
.badge-icon {
  font-size: 2.4rem;
  color: black;
}
.text-badge {
  background-color: var(--primary-color);
  color: white;
  padding: 0.4rem;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  top: 1rem;
  left: 0;
}
.badge {
  background-color: var(--primary-color2);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: default;
  position: absolute;
  text-align: center;
}
.img-badge {
    border:medium solid white;
}
/* badge alingment */
.right-badge {
    top: -0.7rem;
    right: -0.7rem;
}
.left-badge {
    top: -0.7rem;
    left: -0.7rem;
}
.bottom-left-badge {
    bottom: -0.3rem;
    right: -0.3rem;
}
  
/* badge-sizes */
.lg-badge {
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2rem;
  font-size: 1.6rem;
}
.md-badge {
  width: 2.2rem;
  height: 2.2rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}
.sm-badge {
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 1rem;
}