.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    letter-spacing: 1px;
}
/* primary button */
.primary-btn {
    background-color: var(--primary-color2);
    color: var(--white-color);
}
.primary-btn:hover {
    background-color: var(--btn-primary-hover-color);
}
/* primary outline btn */
.primary-outline-btn {
    background-color: var(--white-color);
    color: var(--primary-color2);
    border: thin solid var(--primary-color2);
}
.primary-outline-btn:hover {
    background-color: var(--btn-primary-hover-color);
    color: var(--white-color);
}
/* secondary btn */
.secondary-btn {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.secondary-btn:hover {
    background-color: var(--btn-sec-hover-color);
}
/* secondary outline btn */
.secondary-outline-btn {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: thin solid var(--primary-color);
}
.secondary-outline-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}
/* link button */
.link-btn {
    background-color: var(--white-color);
    color: var(--primary-color2);
}
.link-btn:hover {
    color: var(--primary-color);
}
.underline-link-btn {
    background-color: var(--white-color);
    color: var(--primary-color2);
}
.underline-link-btn:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
/* icon button */
.icon-btn {
    background-color: var(--white-color);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
    color: var(--primary-color2);
    font-size: 2rem;
}
.icon-btn:hover {
    background-color: var(--box-shadow);
    color: var(--btn-primary-hover-color);
}
/* icon inside button */
.icon-inside-btn {
    background-color: var(--primary-color2);
    color: var(--white-color);
}
.icon-inside-btn:hover {
    background-color: var(--btn-primary-hover-color);
}
/* floating button */
.floating-btn {
    border-radius: 50%;
    background-color: var(--primary-color2);
    color: var(--white-color);
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    box-shadow:0px 0px 5px var(--box-shadow);
}
.floating-btn:hover{
    background-color: var(--btn-primary-hover-color);
}